.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.header h1 {
  text-align: center;
}
.header p {
  text-align: center;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-top: 40px;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.box_wrapper {
  width: 500px;
  padding: 80px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1 solid #dcdcdc56;
}
.box_wrapper button {
  padding: 15px 30px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--color-background);
  color: var(--color-white);
  cursor: pointer;
}

.box_wrapper div span {
  color: var(--color-gray);
}

/*Mobile and tablet devices */
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    font-size: var(--small-devices-text);
  }
  .header {
    padding: 0 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0;
  }
  .box_wrapper {
    width: 100%;
    padding: 20px;
  }
  .wrapper button {
    width: 100%;
  }
}
/* medium desktop devices */
@media (min-width: 770px) and (max-width: 960px) {
  .container {
    font-size: var(--small-devices-text);
  }
  .header {
    padding: 0 20px;
  }
  .wrapper {
    width: 90%;
    margin-top: 20px;
  }
  .box_wrapper {
    width: 450px;
    padding: 20px;
    background: yellow;
  }
  .wrapper button {
    width: 50%;
  }
}

/* medium and large devices */
@media (min-width: 1280px) {
  .container {
    font-size: var(--large-devices-text);
  }
  .header {
    padding: 0 20px;
  }
  .wrapper {
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box_wrapper {
    width: 400px;
    padding: 20px;
  }
  .wrapper button {
    width: 50%;
  }
}
