.container {
  display: flex;
  padding: 40px 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 10px;
}
.wrapper p {
  width: 60%;
}
.team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.box {
  height: 400px;
  width: 300px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background: var(--color-white);
}

.image_container {
  height: 250px;
  background: var(--color-background-third);
  overflow: hidden;
}
.box_content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}
.image_container img:hover {
  transform: scale(1.3);
}

.social_container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/*Mobile and tablet devices */
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    font-size: 14px;
  }
  .wrapper {
    width: 80%;
    /* gap: 10px; */
  }
  .box {
    width: 100%;
  }
  .wrapper p {
    width: 100%;
  }
}
/* medium desktop devices */
@media (min-width: 770px) and (max-width: 960px) {
  .container {
    font-size: 14px;
  }
  .box {
    width: 250px;
  }

  .wrapper {
    width: 90%;
    /* gap: 10px; */
  }

  .wrapper p {
    width: 100%;
  }
}

/* medium and large devices */
@media (min-width: 1280px) and (max-width: 1440px) {
}
